UPSTASH_REDIS_REST_URL="https://major-swan-72955.upstash.io"
UPSTASH_REDIS_REST_TOKEN="gQAAAAAAARz7AAIgcDJjNjlkYTNjM2QxN2I0NDkyOTdlMzE0MmMyNzFkZDcxMw"
NEXTAUTH_SECRET="ceci est un test de secret"
NEXTAUTH_URL=https://yrdnaldepense.netlify.app/
